shipping.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/shipping" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/shipping" targetNamespace="http://example.com/shipping">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/shipping">
            <xs:element name="calculateShippingCostRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="weight" type="xs:double"/>
                        <xs:element name="distance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculateShippingCostResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cost" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculateShippingCostRequest">
        <wsdl:part element="tns:calculateShippingCostRequest" name="calculateShippingCostRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateShippingCostResponse">
        <wsdl:part element="tns:calculateShippingCostResponse" name="calculateShippingCostResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShippingService">
        <wsdl:operation name="calculateShippingCost">
            <wsdl:input message="tns:calculateShippingCostRequest" name="calculateShippingCostRequest"> </wsdl:input>
            <wsdl:output message="tns:calculateShippingCostResponse" name="calculateShippingCostResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShippingServiceSoap11" type="tns:ShippingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculateShippingCost">
            <soap:operation soapAction=""/>
            <wsdl:input name="calculateShippingCostRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateShippingCostResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShippingServiceService">
        <wsdl:port binding="tns:ShippingServiceSoap11" name="ShippingServiceSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>